
body{
      background-image: url(dots.png);
     background-repeat: repeat-y;
     background-size: 110%;


}








@keyframes rotate-thing {

  from {
    transform: rotateY(0deg) scale(1);
  }

  to {
    transform: rotateY(360deg) scale(1.5)
  }

}


h1{
   color: #5a473b;
   text-align: center;
   font:400 65px/84px Abril Fatface;
   font-size: 36pt;
   letter-spacing: 2;
   background-image: url(block.png);
 
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
   max-width: 924px;
  margin:0 auto;
   margin-top: 50px;
animation-name: rotate-thing;
  animation-duration: 8s;
  animation-fill-mode: both; /* optional */ 
  animation-iteration-count: infinite; /* optional */ 
  animation-direction: alternate; /* optional */
   

}





.pin{width:4vw;
	height:4vw;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	transition: 300ms;}
.pin-blue{
      
	background-image: url(pin1.png);
	


}
.pin-yellow{
      
	background-image: url(pin2.png);
	


}

.pin-blue:hover{
	transform: scale(1.2);

}
.pin-yellow:hover{
	transform: scale(1.2);

}

.pin-1 {
	top:76%;
	left:30%;
}
   .pin-2 {
	top:41%;
	left:62%;
}
   .pin-3 {
	top:68%;
	left:35%;
}
   .pin-4 {
	top:10%;
	left:32%;
}
   .pin-5 {
	top:40%;
	left:40%;
}
 .pin-6 {
	top:45%;
	left:37%;
}
  .pin-7 {
	top:25%;
	left:15%;
}
  .pin-8 {
	top:39%;
	left:55%;
}
  .pin-9 {
	top:49%;
	left:58%;
}
  .pin-10 {
	top:55%;
	left:49%;
}
.pin-11 {
	top:23%;
	left:60%;
}

.pin-12 {
	top:26%;
	left:57%;
}



.map{  

	margin-top:30%;
	margin-left:55%;
	transform: translateY(-50%) translateX(-50%);
	width: 82%;
	background-image: url(map.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height:50vw;
	position: relative;}
.arrow-1{
    
    
    transform: translateY(-50%) translateX(-50%);
     margin-top: 39%;
     margin-left: 12%;
     height: 60%;




}

.time-1{font:400 65px Abril Fatface;
	font-size: 9pt;
	display:block; 
	position: absolute;
	width:200px;
	
	top:-15px;
	left:20px;


}

.place-1
{font:400 65px Abril Fatface;
	font-size: 11pt;
	display:block; 
	position: absolute;
	width:200px;
	
	bottom:-15px;
	left: 20px;

}

.place-2
{font:400 65px Abril Fatface;
	font-size: 13.5pt;
	display:block; 
	position: absolute;
	width:200px;
	
	bottom:20px;
	left: 45px;

}

.rightline{
text-align: right;
}

.rightline .time-1,.rightline .place-1{
	right: 20px;
	left:auto;
}



.line-one{
    position:relative;
    top: -5%;
    left:25%;
	transform: translateY(-50%) translateX(-50%);

	background-image: url(nine.png);
	background-size: 100%,100%;
	background-position: top left, top 45%;
	background-repeat: no-repeat;
	width: 20vw;
    height:50vw;


}
.picture-one{
	
	width: 40vw;
	height: 30vw;
	
}
.time-one{
font:400 65px Abril Fatface;
	font-size:1.5vw;
	position: absolute;
	top: 55%;
	left: 0;
	text-align: left;
}

.des-one{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 60%;
	left: -1%;
	text-align: left;
	letter-spacing: 1;
}
img.arrow2{
    position: relative;
    top:15vw;
    left:20VW;
    width: 15vw;
    height: 10vw;
}






.line-one-right{
    position:relative;
    top: -10%;
    right:-185%;
	transform: translateY(-50%) translateX(-50%);

	background-image: url(ten.png);
	background-size: 100%;
	background-position: top right;
	background-repeat: no-repeat;
	width: 20vw;
    height:50vw;}


 .time-two{
font:400 65px Abril Fatface;
	font-size:1.5vw;
	position: absolute;
	top: -1%;
	left: 105%;
	width: 45vw;
}

.des-two{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 6%;
	left: 105%;
	width: 45vw;
	letter-spacing: 1;
}   
img.dashline1{
    position: absolute;
    left:20vw;
    top:10vw;
    width: 13vw;



}
.time-three{
font:400 65px Abril Fatface;
	font-size:1.5vw;
	position: absolute;
	top: 55vw;
	left: 48.5vw;
    width: 45vw;
	
}

.des-three{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 58vw;
	left: 48.5vw;
	width: 45vw;
	letter-spacing: 1;
}   
img.tenhalf{
    position: absolute;
    left:27vw;
    top:35vw;
    width: 43vw;
}
.time-four{
font:400 65px Abril Fatface;
	font-size:1.5vw;
	position: absolute;
	top: 77vw;
	left: 1vw;
    width: 45vw;
	
}

.des-four{
font:400 65px Abril Fatface;
	font-size: 1.4vw;
	position: absolute;
	top: 80vw;
	left: 1vw;
	width: 45vw;
	letter-spacing: 1;
}   
.spe-des1{
font:400 65px Abril Fatface;
	font-size: 0.7vw;
	position: absolute;
	top: 83vw;
	left: 1vw;
	width: 25vw;
	
}   
img.eleven{
    position: absolute;
    left:0.5vw;
    top:45vw;
    width: 48vw;
}
img.dashline2{
    position: absolute;
    left:20vw;
    top:49.5vw;
    width: 2vw;
}
.des-five{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 110vw;
	left: 35vw;
	width: 45vw;
	letter-spacing: 1;
}   
.time-five{
font:400 65px Abril Fatface;
	font-size:1.5vw;
	position: absolute;
	top: 107vw;
	left: 35vw;
    width: 45vw;
	
}
img.twelve{
    position: absolute;
    left:26.5vw;
    top:70vw;
    width: 45vw;
}
.twelve:hover{
    transform: rotate(360deg);


}
img.burger{
    position: absolute;
    left:44.5vw;
    top:65vw;
    width: 9vw;
}
.time-six{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 122.5vw;
	left: 46vw;
    width: 45vw;
	
}
.des-six{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 125.5vw;
	left: 46vw;
	width: 45vw;
	letter-spacing: 1;
}   
.time-seven{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 130.5vw;
	left: 46vw;
    width: 45vw;
	
}
.des-seven{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 133vw;
	left: 46vw;
	width: 45vw;
	letter-spacing: 1;
}   
.des-seven2{
font:400 65px Abril Fatface;
	font-size:1.8vw;
	position: absolute;
	top: 136vw;
	left: 46vw;
    width: 45vw;
	
}


img.thirteen{
    position: absolute;
    left:0.5vw;
    top:120vw;
    width: 48vw;
}

img.line{
    position: absolute;
    left:0.5vw;
    top:105vw;
    width: 25vw;
}
.time-eight{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 145vw;
	left: 0.5vw;
    width: 45vw;
	
}
.des-eight{
font:400 65px Abril Fatface;
	font-size: 1.9vw;
	position: absolute;
	top: 150.5vw;
	left: 0.5vw;
	width: 45vw;
	letter-spacing: 1;
}   
.des-eight2{
font:400 65px Abril Fatface;
	font-size:1.8vw;
	position: absolute;
	top: 154vw;
	left: 6.5vw;
    width: 45vw;
	
}
.des-eight3{
font:400 65px Abril Fatface;
	font-size:1.9vw;
	position: absolute;
	top: 159.5vw;
	left: 0.5vw;
    width: 45vw;
	
}
.des-eight4{
font:400 65px Abril Fatface;
	font-size:1.8vw;
	position: absolute;
	top: 163vw;
	left: 6.5vw;
    width: 45vw;
	
}


img.fourteen{
    position: absolute;
    left:25vw;
    top:143vw;
    width: 48vw;
}

.time-nine{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 225vw;
	left: 0.5vw;
    width: 45vw;
	
}
.des-nine{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 228vw;
	left: 0.5vw;
	width: 45vw;
	letter-spacing: 1;
}   
img.fifteen{
    position: absolute;
    left:0.5vw;
    top:183vw;
    width: 30vw;
}
.time-ten{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 225vw;
	left: 43vw;
    width: 45vw;
	
}
.des-ten{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 228vw;
	left: 43vw;
	width: 45vw;
	letter-spacing: 1;
}   
img.sixteen{
    position: absolute;
    left:10vw;
    top:183vw;
    width: 63vw;
}
img.clock{
    position: absolute;
    left:36vw;
    top:233vw;
    width: 6vw;
}
.time-11{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 277vw;
	left: 0.5vw;
    width: 45vw;
	
}
.des-11{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 280vw;
	left: 0.5vw;
	width: 45vw;
	letter-spacing: 1;
}   
.spe-des2{
font:400 65px Abril Fatface;
	font-size: 0.7vw;
	position: absolute;
	top: 283vw;
	left: 0.5vw;
	width: 27vw;
	
}   
img.seventeen{
    position: absolute;
    left:-2vw;
    top:248vw;
    width: 28vw;
}
.time-12{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 308vw;
	left: 29vw;
    width: 45vw;
	
}
.des-12{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 313vw;
	left: 4vw;
	width: 45vw;
	letter-spacing: 1;
}   
img.eighteen{
    position: absolute;
    left:27vw;
    top:293vw;
    width: 42vw;
}
img.card{
    position: absolute;
    left:6vw;
    top:297vw;
    width: 15vw;
}

.time-13{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 322.5vw;
	left: 29vw;
    width: 45vw;
	
}
.des-13{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 327vw;
	left: 29vw;
	width: 45vw;
	letter-spacing: 1;
}   
img.nineteen{
    position: absolute;
    left:0vw;
    top:323vw;
    width: 27vw;
}
.time-14{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 344.5vw;
	left: 29vw;
    width: 45vw;
	
}
.des-14{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 348vw;
	left: 29vw;
	width: 45vw;
	letter-spacing: 1;
}   
img.twenty{
    position: absolute;
    left:0vw;
    top:345vw;
    width: 27vw;
}
img.bowl{
     position: absolute;
    left:52vw;
    top:337vw;
    width: 15vw;

}
.time-15{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 399vw;
	left: 42vw;
    width: 45vw;
	
}
.des-15{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 403vw;
	left: 42vw;
	width: 45vw;
	letter-spacing: 1;
}   
img.twentyone{
    position: absolute;
    left:14vw;
    top:369vw;
    width: 50vw;
}
img.cross{
    position: absolute;
    left:0vw;
    top:364vw;
    width: 30vw;}
.time-16{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 435vw;
	left: 0vw;
    width: 45vw;
	
}
.des-16{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 439vw;
	left: 0vw;
	width: 45vw;
	letter-spacing: 1;
}  
.time-17{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 435vw;
	left: 22vw;
    width: 45vw;
	
}
.des-17{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 439vw;
	left: 22vw;
	width: 20vw;
	letter-spacing: 1;
}   
.time-18{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 435vw;
	left: 44.5vw;
    width: 45vw;
	
}
.des-18{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 439vw;
	left: 44.5vw;
	width: 45vw;
	letter-spacing: 1;
}    
img.bear{
    position: absolute;
    left:0vw;
    top:407.5vw;
    width: 64vw;
}
.time-19{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 488vw;
	left: 0vw;
    width: 45vw;
	
}
.des-19{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 491vw;
	left: 0vw;
	width: 45vw;
	letter-spacing: 1;
}    
img.night1{
    position: absolute;
    left:0vw;
    top:433.5vw;
    width: 58vw;
}
.time-20{
font:400 65px Abril Fatface;
	font-size:1.6vw;
	position: absolute;
	top: 488vw;
	left: 27vw;
    width: 45vw;
	
}
.des-20{
font:400 65px Abril Fatface;
	font-size: 1.8vw;
	position: absolute;
	top: 491vw;
	left: 27vw;
	width: 45vw;
	letter-spacing: 1;
}    
.spe-des3{
font:400 65px Abril Fatface;
	font-size: 1vw;
	position: absolute;
	top: 454vw;
	left: 53vw;
	width: 16vw;
	letter-spacing: 0.5;
}    
img.night2{
    position: absolute;
    left:27vw;
    top:454.2vw;
    width: 24.5vw;
}

img.firework{
position: absolute;
    left:-30vw;
    top:464.2vw;
    width: 105vw;



}


























